{% extends 'layout.html' %}

{% block content %}
  <form method="post" action="{{ url_for('kindergarten.index') }}">
    <div class="mb-3">
      <label for="name" class="form-label">Название садика</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ info.name }}" required />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Номер телефона</label>
      <input type="text" class="form-control" id="phone" name="phone" value="{{ info.phone }}" required />
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Адрес</label>
      <input type="text" class="form-control" id="address" name="address" value="{{ info.address }}" required />
    </div>
    <div class="mb-3">
      <label for="schedule" class="form-label">График работы</label>
      <textarea class="form-control" id="schedule" name="schedule" rows="4" required>{{ info.schedule }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
{% endblock %}