serviceAccountKey.json
sunnybunnies-firebase-adminsdk-fbsvc-9c4495d353.json
.env
instance/
__pycache__/
*.py[cod]
*.pyo
*.pyd
$py.class
venv/
.venv/
env/
.Python
__pyscache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
uploads/
.vscode/
.idea/
*.sqlite3
*.db
.DS_Store
